.menu{
    background-color: var(--menu-bgcolor);
    color: var(--menu-color);
}

.menu ul{
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.menu ul li{
    list-style-type: none;
    padding: 20px;
}

